@model ClinicManagementProject.Models.PatientViewModel

<html>
<head>
    <title> Change Password</title>
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <style>
        div {
            position: absolute;
            left: 300px;
            top: 50px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("ChangePassword", "Patient", FormMethod.Post))
        {
            @Html.Label("Old Password", "Old Password")
            @Html.Password("oldPassword")

            @Html.Label("NewPassword", "New Password")
            @Html.PasswordFor(m => m.EnteredPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.EnteredPassword, "", new { @class = "text-danger" })

            @Html.Label("Retype New Password", "Retype New Password")
            @Html.PasswordFor(m => m.RetypeEnteredPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.RetypeEnteredPassword, "", new { @class = "text-danger" })
            <button class="btn btn-primary">Change Password</button>

        }

        <br />
        @Html.ActionLink("Return to Main Page", "PatientConsole", "Patient")
    </div>
    <section class="alert alert-danger">
        @ViewData["ChangePassword"]
       
    </section>
</body>
</html>
